.menu {
  background-color: #b5de95;
  font-family: verdana;
}

.menu li {
  display: inline-block;
  font-size:10pt;
  position: relative;
  border:2px solid #ffffff;
}

.menu li.dropdown:hover > .submenu {
  display: block;
}

.menu li a {
  background: #ff0000;
  color: white;
  display: block;
  padding: 12px 8px;
  text-decoration: none;
}

.menu li a:hover {
  background: #0000ff;
}

.menu .submenu {
  display: none;
}

.submenu {
  display: block;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
  border:2px solid #ffff00;
}

.submenu li {
  display: block;
}

.submenu li a {
  background: #999;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 8px 6px;
}

.menu .submenu .submenu {
  left: 200px;
  position: absolute;
  top: 0px;

}

@media (max-device-width:1024px){
  .menu{
    background-color:yellow;
  }
}

@media (max-device-width:600px){
  .menu{
    background-color:green;
  }
}

@media (max-device-width:360px){
  .menu{
    background-color:purple;
  }
}

@media (max-device-width:360px) and (min-device-height:200px),
       (max-device-width:600px) and (min-device-height:200px),
       (max-device-width:1024px) and (min-device-height:200px){
  .menu > li{
    font-size:3em;
  }


  .submenu li{
    font-size:1em;
    width:6em;
  }

    .menu .submenu .submenu {
    left:6em;
  }

}
