*{
	box-sizing:border-box;
}

body{
	background-color:blue;

}

.button{
  background-color:black;
  color:white;
  border-radius:5%;
  font-size:1.5em;
  text-decoration:none;
  font-variant:small-caps;
  margin-left:25em;

}

div{
	position:relative;
	width:450px
	height:500px;
    display:block;
    margin-right:50px;
    margin-left:450px;
    margin-bottom:50px;

}

div img{
	height:450px;
	width:500px;
	border:5px solid green;
}

h1{
	position:relative;
	left:500px;
  color:white;

}

a:hover{
	opacity:0.8;
	cursor:pointer;
}

@media (max-device-width:1024px){
  body{
  background-color:purple;

  }

  .button{
    position:relative;
    margin-left:5em;
  }



}

@media (max-device-width:600px){
  body{
  background-color:green;

}

  .button{
    margin-left:0;
  }

}

@media (max-device-width:360px){
  body{
  background-color:skyblue;
 }

 h1{
  color:black;
 }

   .button{
    margin-left:0;
  }


}

@media (max-device-width:360px) and (min-height:200px),
       (max-device-width:600px) and (min-height:200px),
       (max-device-width:1024px) and (min-height:200px){

  body{
  	padding:0;
  	margin:0;
  }


  div{
  	width:10em;
  	height:12em;
  	margin-left:0;
  	margin-right:0;
  	margin-bottom:12em;
  	padding-right:0;

  }

    div img{
  	margin-left:0;
	height:23em;
	width:100vw;
	border:5px solid green;
  }


  h1{
  	left:1em;
  	font-size:1.5em;
  	width:12em;
  }
}

@media (min-width:600px) and (max-device-width:1024px){

	div{
		margin-bottom:40em;
	}
	div img{
		height:50em;
	}
}

