body{
  background-color:white;
}

.button {
  display: inline-block;
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: white;
  margin-right:2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
	background-color: white;
	color: blue;
	border-style: inset;
	border: 3px solid black;;
}

.button.button-sm {
	display: inline-block;
	font-size: 10px;
	margin-bottom:2em;
}

.button.button-sm:hover {
	transform:scale(1.1);
}

.button.button-md {
	display: inline-block;
	font-size: 20px;
	margin-bottom:2em;
}

.button.button-md:hover {
	transform: scale(1.1);
}

.button-lg {
	display: inline-block;
	font-size: 30px;
  margin-top:20px;
	margin-bottom:2em;
}

.button.button-lg:hover {
	transform: scale(1.1);
}

@media (max-device-width:1024px){

  body{
    background-color:blue;
  }

}

@media (max-device-width:600px){

  body{
    background-color:black;
  }

}

@media (max-device-width:360px){
  body{
    background-color:#696969;
  }
}

@media (max-width:360px) and (min-height:200px),
	   (max-width:600px) and (min-height:200px),
	   (max-width:1024px) and (min-height:200px){

  body{
    color:white;
  }

  h3{
  	font-size:3em;
  }

  .button{
  	font-size:4em;
  }

  .button:hover{
  	background-color:black;
  	color:white;
  }

  .button.button-sm{
  	font-size:3em;
  }

  .button.button-md{
  	font-size:4em;
  }

  .button.button-lg{
  	font-size:4.5em;
  }
  
}