<link rel="stylesheet" type="text/css" href="style.css">
<div class="container">

  <!-- Thumbnails at the top -->
  <label for="image1"><img src="https://static.pexels.com/photos/24353/pexels-photo.jpg"></label>
  <input type="radio" name="images" id="image1" checked/>
  <label for="image2"><img src="https://static.pexels.com/photos/2394/lights-clouds-dark-car.jpg"></label>
  <input type="radio" name="images" id="image2"/>
  <label for="image3"><img src="https://static.pexels.com/photos/26796/pexels-photo.jpg"></label>
  <input type="radio" name="images" id="image3"/>
  <label for="image4"><img src="https://static.pexels.com/photos/2394/lights-clouds-dark-car.jpg"></label>
  <input type="radio" name="images" id="image4"/>

   <!-- Thumbnail for 5th image -->
    <label for="image5"><img src="https://static.pexels.com/photos/116675/pexels-photo-116675.jpeg"></label>
  <input type="radio" name="images" id="image5"/>

  <!-- HTML Code for Images linked to the thumbnails -->

  <div class="large">
    <img src="https://static.pexels.com/photos/24353/pexels-photo.jpg" id="one"/>
  </div>
  <div class="large">
    <img src="https://static.pexels.com/photos/2394/lights-clouds-dark-car.jpg" id="two" /> 
  </div>
  <div class="large">
    <img src="https://static.pexels.com/photos/26796/pexels-photo.jpg" id="three"/>
  </div>
  <div class="large">
    <img src="https://static.pexels.com/photos/2394/lights-clouds-dark-car.jpg" id="four" /> 
  </div>

      <!-- Placeholder for 5th image -->
  <div class="large">
    <img src="https://static.pexels.com/photos/116675/pexels-photo-116675.jpeg" id="five" /> 
  </div>  
