<link rel="stylesheet" href="style.css">

<div class="accordion">
  <ul>

    <!-- Item 1 -->
    <li>
      
      <div>
        <label for="appetizers">Appetizers</label>
      </div>
      <input type="radio" name="menu" id="appetizers">
      <div>
        <h3>Check our tasty apps!</h3>
        <h4>Happy hour menu - half off!!</h4>
        <p>Chicken Wings (6) - $5.99</p>
        <p>Calamari - $7.99</p>
        <p>Garlic breaded pickles - $4.59</p>
      </div>


    </li>

    <!-- Item 2 -->
    <li>
      <div>
        <label for="entrees">Entrees</label>
      </div>
        <input type="radio" name="menu" id="entrees">

      <div>
        <h3>Choose from a wide range of pastas, combos and signature dishes</h3>
        <h4>Pastas</h4>
        <p>Chicken Picatta - $14.99</p>
        <p>Chicken Pollo - $12.99</p>
        <p>Lasagna (Chicken/beef) - $10.99</p>
        <h4>Combos</h4>
        <p>Italian Sausage & Beef Combo - $15.99</p>
        <p>Mac n Cheese with Chickent Tenders - $8.99</p>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div>
        <label for="desserts">Desserts</label>
      </div>
        <input type="radio" name="menu" id="desserts">

      <div>
        <h3>New Summer Specials!!</h3>
        <h4>Shakes and Ice Creams</h4>
        <p>Turtle Caramel Shake - $6.99</p>
        <p>Chocolate Brownie Bite - $4.99</p>
      </div>
      
    </li>

    <!-- Placeholder for Item 4 -->
    <li>
      <div>
        <label for="soupsAndSalads">Soups and Salads</label>
      </div>
        <input type="radio" name="menu" id="soupsAndSalads">

      <div>
        <h3>Choose From a Variety of Delicous Soups and Salads!</h3>
        <h4>Soups</h4>
        <p>Vegetarian Squash Soup - $4.99</p>
        <p>Turkey Chilli - $5.99</p>
        <p>Bistro French Onion Soup with Bread- $6.99</p>
        <h4>Salads</h4>
        <p>Spicy Thai Chicken Salad- $9.99</p>
        <p>Quinoa Greek Salad - $8.99</p>
        <p>Classic Caesar Salad - $4.99</p>
        <p>Caesar Salad with Chicken - $6.99</p>
      </div>
      
    </li>
  </ul>
</div>
